/**index.wxss**/
.container {
  .jump-page {
    display: flex;
    align-items: center;
    color: #8995a1;
    font-size: 24rpx;
    padding: 20rpx 40rpx;
    .iconfont {
      font-size: 20rpx;
      color: inherit;
    }
  }
  .textarea-container {
    background: #fff;
    position: relative;
    .textarea {
      padding: 30rpx;
      padding-right: 0;
      font-size: 34rpx;
    }
    .iconfont {
      position: absolute;
      top: 30rpx;
      right: 40rpx;
      font-size: 50rpx;
      color: #888;
      z-index: 9;
    }
  }

  .button-translate {
    display: flex;
    justify-content: center;
    .button {
      margin: 20rpx;
      font-size: 32rpx;
      border: 1px solid;
    }
  }

  .output-area {
    min-height: 80rpx;
    background: #fff;
    padding: 40rpx;
    .title {
      font-size: 28rpx;
      color: #8995a1;
    }
    .result-container {
      padding: 20rpx 0;
      font-size: 34rpx;
    }
  }
}
